@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* bannder css start 
-------------------- */
main {
    float: left;
}

.container {
    width: 80%px;
    height: 646px;
    background-color: #161616;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
}

.greatest-show-child {
    display: flex;
}

.greatest-show-child2 {
    margin-top: 120px;
    margin-left: 60px;
}

.greatest-h2 {
    color: white;
    font-size: 70px;
    width: 531px;
    left: 246px;
    border-radius: 5px;
    line-height: 65px;
    margin-bottom: 28px;
    transition: color 1s ease;
}

.great {
    color: red;
}

.greatest-p {
    color: white;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 50px;
}

.link-button {
    text-decoration: none;
    background-color: #dd0000;
    padding: 14px 38px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.fa-angle-right {
    margin-left: 5px;
}

.greatest-img-parent img {
    width: 100%;
    height: 595px;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: -32px;
    transition: width 1s ease, height 1s, transform 1s;
}

.greatest-img-parent img:hover {
    width: 200px;
    height: 200px;
    transform: rotate(350deg);
}

/*--------------- 
form section 
---------------- */
.form-top {
    display: flex;
}


.form-section {
    width: 20%;
    height: 250px;
    background-color: #161616;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
}

.main-form input {
    align-items: center;
    margin-left: 25px;
    margin-top: 29px;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.main-form {
    justify-content: center;
}

.common-from {
    font-size: 16px;
    text-align: center;
    font-weight: 900;
}

.blog-1 {
    background-color: #dd0000;
    text-align: center;
}

.common-form {
    text-align: center;
    font-weight: 900;
    font-size: 16px;
}

input {
    width: 190px;
    height: 45px;
    border-radius: 10px;
    margin-top: 20px;
}

/*---------------- 
blog-top start 
------------------ */
.blog-top {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -7px;
}

.blog-top2 {
    box-shadow: 0px 1px 2px grey;
    border-radius: 10px;
    margin: 10px 12px;
}

.main-blog {
    display: flex;
}

.vs-p {
    margin-top: 50px;
}

.blog-top2 img {
    width: 70px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

.info-blog {
    text-align: center;
}


.blog-h3 {
    font-size: 18px;
    color: #161616;
    margin-bottom: -6px;
}

.info-p {
    font-size: 13px;
    margin-bottom: 40px;
    color: #727272;
}

/*--------------- 
footer start 
--------------- */
.footer-section {
    margin-top: 100px;
    height: 350px;
    margin-left: -325px;
    margin-right: -100px;
    background-color: #161616;
}

ul li {
    float: left;
}

ul li a {
    text-decoration: none;
    color: #949494;
    font-size: 11px;
    margin-left: 40px;
}

.footer-list {
    text-align: center;
}

.Footer-h1 {
    padding-top: 90px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.footer-list {
    text-align: center;
    margin-left: 202px;
}

hr {
    margin-left: 130px;
    margin-right: 100px;
    color: #2c2c2c;
    margin-bottom: 46px;
}